
{% extends 'base.html' %}
{% block content %}
<h1>Register</h1>
<form method="post">
  <label>Full Name</label><br>
  <input type="text" name="name" required style="width:100%"><br><br>

  <label>Company</label><br>
  <input type="text" name="company" required style="width:100%"><br><br>

  <label>Email</label><br>
  <input type="email" name="email" required style="width:100%"><br><br>

  <button type="submit">Register</button>
</form>
<p>We will send a verification link to your email. Registration completes only after you click the link.</p>
{% endblock %}
