
{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-12 col-lg-8">
    {% block left %}{% endblock %}
  </div>
  <div class="col-12 col-lg-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">What is {{ UI_BRAND_NAME }}?</h5>
        <p class="card-text">A professional AI-powered Website Audit SaaS providing instant analysis with executive-grade reporting.</p>
        <ul>
          <li>Open access audits (no signup)</li>
          <li>Certified PDF reports</li>
          <li>Upgrade to enable scheduling & history</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
